.BuildControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    border:  0.002em solid black;
    cursor: pointer;
    outline: none;
    background-color: grey;
    color: white;
    border-radius: 50%;
}

.Right {

    background: linear-gradient(to right, white 50%, grey 50%);
}
.Right:hover, .Right:active{
    
    background: linear-gradient(to right, white 50%, #8e0000 50%);
}
.Left {
    background: linear-gradient(to right, grey 50%, white 50%);
}
.Left:hover, .Left:active{
    background: linear-gradient(to right, #8e0000 50%, white 50%);
}
.Full {
    background: grey;
}
.Full:hover, .Full:active{
    background: #8e0000;
}
.Label{
    padding: 10px;
    font-weight: bold;
    width: 80px;
}
.activeR{
    background: linear-gradient(to right, white 50%, #8e0000 50%);
}