.Input{
   margin:0 auto;
   position: relative;
   display: block;
   color: black;

   appearance: none;
   background-color: none;
   border: 1px solid black;
   line-height: 0;
   font-size: 17px;
   width: 20%;
   display: block;
   box-sizing: border-box;
   padding: 10px 15px;
   border-radius: 8px;
   color: rgb(133, 189, 50);
   font-weight: 100;
   letter-spacing: 0.01em;
   position: relative;
   z-index: 1;
}

.bgImgCenter{
   background-image: url('https://image.shutterstock.com/image-vector/seamless-pattern-pizza-design-elements-600w-644553247.jpg');
   
   position: relative;
   height: 100%;
   width: 100%;
 }


.Label{

   transform-origin: left center;
   color: black;
   font-weight: 100;
   letter-spacing: 0.01em;
   font-size: 17px;
   box-sizing: border-box;
   padding: 10px 15px;
   display: block;
   position: absolute;
   margin-top: -40px;
   z-index: 2;
   pointer-events: none;
}
.Button{
   margin:0 auto;
   margin-top: 25px;
   position: relative;
   display: block;
   position: relative;
   outline: none;
   text-decoration: none;
   border-radius: 8px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   text-transform: uppercase;
   height: 40px;
   width: 10%;
   opacity: 1;
   background-color: #ffffff;
   border: 1px solid black;

}
.Div{
   position: relative;
   padding: 10px 0;
}

.DivList{
   
   display: flex;
   flex-direction: row;
}
.ul{
   list-style-type: none;
   text-align: center;
   margin-top: 100px;  
   padding: 0; 
}
.li {
   display: inline;
   padding: 20px;

}
.img{
   width: 20%;

}